.templateItem {
    padding: 5px;
    padding-bottom: 15px;
    border: 2px solid teal;
    box-shadow: 3px 3px 2px lightgrey;
    border-radius: 8px;
    background-color: seashell;
    height: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.templateItem p {
    text-align: center;
    display: block;
    width: 100%;
}
.templateItem h4:hover {
    cursor: pointer;
    color: #55B266;
}
.template {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
}
.templateItem h4 {
    font-family: 'Indie Flower';
    text-align: center;
    font-size: 24px;
    text-shadow: 1px 1px 1px grey;
    }
.templateItemFullSize {
    padding: 5px;
    padding-bottom: 15px;
    border: 2px solid teal;
    box-shadow: 3px 3px 2px lightgrey;
    border-radius: 8px;
    background-color: seashell;
    width: 60%;
}
.templateItemFullSize h4 {
    font-family: 'Indie Flower';
    text-align: center;
    font-size: 24px;
    text-shadow: 1px 1px 1px grey;
    }
.templateItemFullSize h4:hover {
    cursor: pointer;
    color: #55B266;
}
