.postForm {
  padding: 5px;
  margin: 3px;
}
.loginForm {
  margin-bottom: 20px;
}
.postBody {
  border: 1px solid #aaa;
  width: 30%;
}
.posts li:hover {
    cursor: pointer;
    color: navy;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/mehikasvi_keskikoko.png') center fixed;
  background-size: cover;

  


}
@media screen and (max-width: 600px){
    body {background: url('./assets/mehikasvi_pieni.png') center fixed;}
    
  }

.right input {
  border: 2px solid teal;
  width: 150px;
  padding: 3px;
}
.search input {
  margin-bottom: 5px;
}
.loginForm input {
  margin-bottom: 2px;
}
button {
  border: 2px solid teal;
  color: #28472e;
  margin: 2px;
}
button:hover {
  cursor: pointer;
  background-color: #55B266;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titleList {
  padding: 5px;
  border: 2px solid teal;
  width: 25%;
}
.titleList li {
  list-style-type: none;
}
.titleList li:hover {
cursor: pointer;
color: #55B266;
}
.titleList h4 {
font-family: 'Indie Flower';
text-align: center;
font-size: 24px;
text-shadow: 1px 1px 1px grey;
}
@media screen and (max-width: 600px) {
.titleList {width: 80%}
}
.search {
  float: right;
}
.titleListForm {
  margin-bottom: 5px;
}
h4 {
  font-family: 'Indie Flower';
  font-size: 24px;
  text-shadow: 1px 1px 1px grey;
}


