.titleList {
    margin: 5px;
    padding: 5px;
    border: 2px solid #aaa;
    width: 20%;
    background-color: #b3d9ff;
}
.titleList li {
    list-style-type: none;
}
.titleList li:hover {
  cursor: pointer;
  color: navy;
}